extends layout

block stylesheets

block javascripts
  script(src='/javascripts/vendor/socket.io.js')
  script(src='/javascripts/app.js')

block content
  script.
    d3.select('body').append('div').style({height: '500px', width: '960px'}).call(app());
